.homepage {
    background-color: #98B4D4;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}
.h1-p1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: blue;
    border: 3px solid green;
}
.h2-p1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: green;
}
.figcaption-p1 {
    text-align: left;
}
.img-p1{
    width: 25%;
    margin-right: 100%;
}
.title{
    text-align: left;
}