.page5 {
    background-color: #98B4D4;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}
.fig {
    display: flex;
  }
.img-p3{
    float: left;
    width: 45%;
    margin-right: 100%;
    flex: 50%;
    padding: 5px;
}

  